
    body {
      font-family: 'Montserrat', sans-serif;
      background: linear-gradient(
             90deg,          /* Diagonal */
             #282F43 0%,      /* Start */
             #3E3664 30%,     /* Smoothly blend */
             #672162 65%,     /* More smooth blending */
             #9B2063 100%     /* End */
      );
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .login-box {
      background: #ffffff;
      padding: 30px;
      border-radius: 10px;
      height: 50%;
      width: 20%;
      text-align: center;
    }
    .login-box h2 {
      margin-bottom: 20px;
    }
    .form-control {
      width: 60%;
      padding: 12px;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 6px;
    }
    button {
      background: #e91e63;
      border: none;
      padding: 12px;
      width: 50%;
      color: #fff;
      font-size: 16px;
      border-radius: 6px;
      cursor: pointer;
    }
    button:hover {
      background: linear-gradient( #d81b60, #ff40d6);
    }
    .messages {
      margin-top: 15px;
      font-size: 14px;
    }
    .messages .success {
      color: green;
    }
    .messages .error {
      color: red;
    }

